<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Microphone Input</title>
<link rel="stylesheet" href="{% static 'style.css'%}">
</head>

<body>
  <div class="moveMicrophone">
    <div class="circle">
      <div class="innercircle">
        <div class="innermost-circle"></div>
      </div>
    </div>
  </div>
    
  <div id="status">hello</div>
  <div><button id="start">start</button></div>

  <script src="static/script.js">

  </script>
</body>

</html>