<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Microphone Input Visualization</title>
  <link rel="stylesheet" href="{% static 'asistant/styles.css' %}?v={{time}}">
</head>
<body>
  <div class="moveMicrophone">
    <div class="circle">
      <div class="innercircle" id="innercircle_id">
        <div class="innermost-circle"></div>
      </div>
    </div>
  </div>
  <div id="status">Silent</div>
  <button id="start">Start</button>
  <script src="{% static 'asistant/script.js' %}?v={{time}}"></script>
</body>
</html>
